.err-wrap {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    text-align: center;
    transform: translateX(-50%);
}
.err-wrap p {
    font-size: 26px;
}
.err-wrap img {
    display: block;
    width: 100px;
    margin: 20px 0 30px;
}
.err-wrap a {
    padding: 15px;
    font-size: 18px;
}